{# {%  use 'Symfony\Component\Routing\Generator\UrlGeneratorInterface' as url %} #}
{% extends 'base-back.html.twig' %}

{% block title %}Article List for section {{ section.name }}{% endblock %}

{% block body %}

<h1>Articles de la section {{ section.name }}</h1>
<a class="btn btn-primary" href="{{ path('app_back_section_article_add', {id: section.id}) }}">Ajouter</a>

<table class="table table-striped">
    
    {% if section.getArticleType() == 'ArticleCv' %}

    <thead>
        <tr>
            <th>#</th>
            <th>Titre</th>
            <th>Contenu</th>
            <th>Date</th>
            <th>Location</th>
            <th>Ordre alphabétique</th>
        </tr>
    </thead>
    <tbody>
    
        {% for currentArticle in sectionWithArticles %}
            {# Afficher les détails spécifiques à ArticleCv #}
            <tr>
            <td>{{ currentArticle.id }}</td>
            <td>{{ currentArticle.title }}</td>
            <td>{{ currentArticle.content }}</td>
            <td>
            {% if currentArticle.date is defined %}
                {{ currentArticle.date }}
            {% endif %}
            </td>
            <td>
            {% if currentArticle.location is defined %}
                {{ currentArticle.location }}
            {% endif %}
            </td>
            <td>{{ currentArticle.alphaOrder }}</td>
            
            {# {{ dump (currentArticle.id)}} #}
            <td>
                    <a href="{{ path('app_back_section_article_edit', {'id': section.id, 'articleId': currentArticle.id}) }}" class="btn btn-secondary">Modifier</a>
                    <form method="post" action="{{ path('app_back_section_delete', {'id': currentArticle.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer');">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
        </tr>
        {% endfor %}
       
    {% else %}
    <thead>
        <tr>
            <th>#</th>
            <th>Titre</th>
            <th>Contenu</th>
            <th>Image</th>
            <th>Ordre alphabétique</th>
        </tr>
    </thead>
    <tbody>
   
        {% for currentArticle in sectionWithArticles %}
            {# Afficher les détails spécifiques à ArticleProjectTechnos #}
            <tr>
            <td>{{ currentArticle.id }}</td>
            <td>{{ currentArticle.title }}</td>
            <td>{{ currentArticle.content }}</td>
            {% if currentArticle.image is defined %}
            <td>{{ currentArticle.image }} </td>
            <td>{{ currentArticle.alphaOrder }} </td>
            {% endif %}
                <td>
                    <a href="{{ path('app_back_section_article_edit', {'id': section.id, 'articleId': currentArticle.id}) }}" class="btn btn-secondary">Modifier</a>
                    <form method="post" action="{{ path('app_back_section_delete', {'id': currentArticle.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer');">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
        </tr>
    
        {% endfor %}
       
    {% endif %}
    </tbody>
</table>
{% endblock %}
