{% extends "base.html.twig" %}
{% block title %}Portfolio Mathilde Rouland{% endblock %}
{% block body %}
<main id="main">
    {% for section in sections %}
        {% if loop.index == 1 %}
            <section id="{{ section.cssClass }}" class="{{ section.cssClass }}">
                <div class="container">
                    <div class="section-title">
                        <h2>{{ section.name }}</h2>
                        <p>{{ section.content|raw }}</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4" data-aos="fade-right">
                            <img src="{{ asset('assets/img/profile-img.jpg') }}" class="img-fluid" alt="">
                        </div>
                        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                            <div class="row">
                                <div class="col-lg-6">
                                    <ul class="chevron">
                                        <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>40</span></li>
                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <ul class="chevron">
                                        <li><i class="bi bi-chevron-right"></i> <strong>Ville:</strong> <span>Rennes</span></li>
                                    </ul>
                                </div>
                            </div>
                            {% for article in section.article %}
                                <div class="col-lg-12">
                                    <h3>{{ article.title }}</h3>
                                    <p>{{ article.content|raw }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
        {% else %}
            <section id="{{ section.cssClass }}" class="{{ section.cssClass }}">
                <div class="container">
                    <div class="section-title">
                        <h2>{{ section.name }}</h2>
                        {% if section.content is defined %}
                            <p>{{ section.content|raw }}</p>
                        {% endif %}
                    </div>
                    {% if section.name == "Savoir-être et compétences" %}
                        <section id="skills" class="skills section-bg">
                            <div class="row skills-content">
                                {% for article in section.article %}
                                    <div class="col-lg-3" data-aos="fade-up">
                                        <div class="progress">
                                            <span class="skill">{{ article.title }}</span>
                                            {% if article.image is defined and article.image != '' %}
                                                <img src="{{ asset('' ~ article.image) }}" height="70">
                                            {% endif %}
                                            <p>{{ article.content }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </section>
                    {% elseif section.name == "Curriculum Vitae" %}
                        <section id="resume" class="resume">
                        <a href="{{ asset('assets/cv-mathilde-rouland-24.pdf')}}" target="_blank">Téléchargez mon CV</a> 
                            <div class="row">
                                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                                    <h3 class="resume-title">Expérience</h3>
                                    {% for article in section.article %}
                                        {% if article.category == "Expérience" %}
                                            <div class="resume-item">
                                                <h4>{{ article.title }}</h4>
                                                <h5>{{ article.date }}</h5>
                                                <p><em>{{ article.location }}</em></p>
                                                <ul>
                                                    <li>{{ article.content|raw }}</li>
                                                </ul>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                                    <h3 class="resume-title">Formation</h3>
                                    {% for article in section.article %}
                                        {% if article.category == "Formation"  %}
                                            <div class="resume-item">
                                                <h4>{{ article.title }}</h4>
                                                <h5>{{ article.date }}</h5>
                                                <p><em>{{ article.location }}</em></p>
                                                {% if article.content is not empty %}
                                                <ul>
                                                    <li>{{ article.content|raw }}</li>
                                                </ul>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </section>
                    {% elseif section.name == "Projets" %}
                        <div class="section-title">
                            {# <h2>{{ section.name }}</h2> #}
                            <div class="row">
                                {% for article in section.article %}
                                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                                        <div class="icon"><i class="bi bi-briefcase"></i></div>
                                        <h4 class="title">{{ article.title }}</h4>
                                        <p class="description">{{ article.content|raw }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% elseif section.name == "Contactez-moi" %}
                    <section id="contact" class="contact">
                        <div class="container">
                            <div class="section-title">
                                {# <h2>{{ section.name }}</h2> #}
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <i class="bi bi-telephone"></i><a class="contact" href="tel:0662380414">06 62 38 04 14</a><br>
                                    <i class="bi bi-envelope"></i><a class="contact" href="mailto:matrouland@gmail.com">matrouland@gmail.com</a>
                                </div>
                            </div>
                        </div>
                    </section>
                    {% endif %}
                {# </div> #}
            </section>
        {% endif %}
    {% endfor %}
</main>
{% endblock %}

   