{% extends 'base-back.html.twig' %}
{% block body %}
<div class="container bg-lighttt pt-5">

        <div class="row mb-2">

            <div class="col">

                <div
                    class="row g-0 borderrr rrrounded overflow-hidden flex-md-row align-items-start mb-4 shadow-smmm position-relative">
                    
                    <div id="sectionPresentation" class="col-10 p-4 d-flex flex-column position-static bg-light">
                        {# <strong class="d-inline-block mb-2 text-primary">{{ section.name }}</strong> #}
                        <h1 class="mb-1">Section "{{section.title }}"</h1>
                        <div id="sectionContent" class="mb-5 text-muted">{{ section.content }} </div>
                        <h2 class="mb-3">Articles de la section {{ section.title }} <a id="addArticle" class="btn btn-primary" href="{{ path('app_back_section_article_add', {id: section.id}) }}">Ajouter</a></h2>
                        
                        
                                              
                        {# <h2>ArticlesProjectTechnos</h2> #}
                        <ul class="list-unstyled">
                             {% for article in articleList %}
                            <li class="badge bg-secondary fs-6 mt-3 mb-1">Article {{ article.title }} <a href="{{ path('app_back_section_article_edit', {"id": section.id, "articleId": article.id}) }}" class="mb-1 mt-1 btn btn-danger">Modifier</a>
                            <li class="ms-1 mb-4"><small class="ms-1">{{ article.content }}</small></li>
                            </li>
                            
                            
                            {% endfor %}
                        </ul>

                        
                </div>

            </div>

        </div>

    </div>
{% endblock %}
