{% extends 'base-back.html.twig' %}
{% block body %}
<div class="container bg-lighttt pt-5">

        <div class="row mb-2">

            <div class="col">

                <div
                    class="row g-0 borderrr rrrounded overflow-hidden flex-md-row align-items-start mb-4 shadow-smmm position-relative">
                    
                    <div class="col-8 p-4 d-flex flex-column position-static bg-light">
                        {# <strong class="d-inline-block mb-2 text-primary">{{ section.name }}</strong> #}
                        <h3 class="mb-1">{{section.name }}</h3>
                        <div class="mb-1 text-muted">{{ section.content }} </div>
                        <h1>Articles de la section {{ section.name }}</h1>
                        <a class="btn btn-primary" href="{{ path('app_back_section_article_add', {id: section.id}) }}">Ajouter</a>
                        
                                              
                        {# <h2>ArticlesProjectTechnos</h2> #}
                        <ul class="list-unstyled">
                             {% for article in articleList %}
                            <li><span class="badge bg-danger fs-6 mb-2">Article {{ article.title }}</span><small class="ms-1">{{ article.content }}</small></li>
                            <a href="{{ path('app_back_article_edit', {"id": article.id}) }}" class="btn btn-secondary">Modifier</a>
                            {% endfor %}
                        </ul>

                        
                </div>

            </div>

        </div>

    </div>
{% endblock %}
